[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pep257 = "*"
pycodestyle = "*"
radon = "*"
coverage = "*"
isort = "*"

[requires]
python_version = "3.7"
